body {
    font-family: sans-serif;
}

header {
    background-color:rgb(168, 216, 231) ;
    padding:3px;
    border:3px rgb(168, 216, 231) solid;
    border-radius:10px;
}

header a {
    text-decoration:none;
    background-color:white;
    border:5px solid white;
    border-radius:15px;
    color:slategray;
}

h1 {
    background-color: rgb(215, 178, 250);
    border:2px dashed rgb(154, 107, 197);
    text-align:center;
    color:rgb(89, 53, 122);
}

footer {
    background-color: rgb(131, 173, 185);
    padding:1px;
    border:1px solid rgb(131, 173, 185);
    border-radius:10px;
}

footer p {
    background-color:rgb(168, 216, 231);
    margin:5px;
    border:solid 1px rgb(168, 216, 231);
    border-radius:10px;
    padding:2px;
    color:rgb(70, 104, 114);
}

nav a {
    background-color:#adbeff;
    color: #4f5c94;
    text-decoration: none;
    border-right:#7b8bcc 2px solid;
    padding:3px;
}

nav {
    background-color: #adbeff;
    padding:5px;
    margin:5px;
}

.pimg {
    background-color:rgb(168, 216, 231) ;
    border:1px solid rgb(168, 216, 231) ;
    border-radius:10px;
    padding:15px;
}

.ceson {
    background-color: rgb(168, 216, 231);
    border:10px solid rgb(168, 216, 231);
    border-radius:10px;
    color:rgb(87, 139, 155);
}

.secon {
    background-color: rgb(125, 187, 206);
    border:10px solid rgb(125, 187, 206);
    border-radius:10px;
    color:rgb(66, 116, 131);
}
